.header__lang-link {
  list-style: none;
  text-decoration: none;
  display: flex;
  color: #fff;
  padding: 0;
  margin-left: 18px;
}

.header__lang-link:hover {
  color: #aaa;
  transition: color .2s linear 0s;
}

@media screen and (max-width: 528px) {
    
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }

}