.places__link {
  grid-column: 2/3;
  grid-row: 1/3;
  align-self: end;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.places__link:hover {
  color: #aaa;
}

@media screen and (max-width: 528px) {

  .places__link {
    display: none;
  }

}