.footer__link {
  margin-right: 18px;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.footer__link:hover {
  color: #aaa;
}

@media screen and (max-width: 528px) {

  .footer__link {
    display: inline-block;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 32px;
  }

}