.place__link {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: end;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.place__link:hover {
  color: #aaa;
  transition: color .2s linear 0s;
}

@media screen and (max-width: 528px) {

  .place__link {
    display: block;
    margin: 0 16px 32px;
  }

}