
/* Для ревьюера: 
/ Если в проекте не тех местах указал соотвествующие шрифты, укажите место назначение, пожалуйста */

@font-face {
  font-family: 'Inter-Regular';
  font-style: normal;
  src:
  url("../vendor/Inter-Regular.woff2") format("woff2"),
  url("../vendor/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter-Bold';
  font-style: normal;
  src:
  url("../vendor/Inter-Bold.woff2") format("woff2"),
  url("../vendor/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Inter-Black';
  font-style: normal;
  src:
  url("../vendor/Inter-Black.woff2") format("woff2"),
  url("../vendor/Inter-Black.woff") format("woff");
}