/* Для ревьюера:
/ Управление начертанием шрифта через указание веса действительно удобнее и лаконичнее, в работе -
в некоторых местах, где Вами был указан комментарий: "Нужно указать дополнительный безопасный веб-шрифт и тип засечек" -
я вовсе убрал указание шрифта. В блоке page поключил вес 400 (Regular) как базовый для всей страницы и для обычных
абзацев уже ничего не указывал (кроме размера и межстрочного интервала), а для заголовков и intro__span-accent отметил только вес. */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src:
  url("../vendor/Inter-Regular.woff2") format("woff2"),
  url("../vendor/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src:
  url("../vendor/Inter-Bold.woff2") format("woff2"),
  url("../vendor/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src:
  url("../vendor/Inter-Black.woff2") format("woff2"),
  url("../vendor/Inter-Black.woff") format("woff");
}