.place__url-heading {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0;
  align-self: end;
  position: relative;
  bottom: 34px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaa;
}

@media screen and (max-width: 528px) {

  .place__url-heading {
    bottom: auto;
    margin: 0 16px 12px;
  }

}