.places__url-heading {
  grid-column: 2/3;
  grid-row: 1/3;
  margin: 0;
  align-self: end;
  position: relative;
  bottom: 34px;
  font-size: 12px;
  line-height: 12px;
  color: #AAAAAA;
}

@media screen and (max-width: 528px) {

  .places__url-heading {
    display: none;
  }

}